<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kelas Ku</title>
    <link rel="stylesheet" href="../css/classroom.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Viga&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/font-awesome-4.7.0/css/font-awesome.min.css">
</head>

<body style="background-color: rgb(234, 238, 243)">
    
    <nav class="container">
        <div class="menu" target="_blank"><i class="fa fa-bars" aria-hidden="true" style="font-size: 22px; color: #43655A" ></i></div>
        <div class="logo"><strong> Google </strong> Classroom</div>
        <div style="margin-left: auto"><i class="fa fa-plus" aria-hidden="true" style="font-size: 28px; color: #43655A" id="myBtn"></i></div>
        <div><i class="fa fa-google" aria-hidden="true" style="font-size: 28px; color: #43655A"></i></div>
        <div class="ava"><img src="../asset/city.jpg" width="70px"></div>
    </nav><br>

    <div id="myModal" class="modal">
        <div class="modal-content">
          <button class="submit" onclick="addClass()">Submit</button>
          <input type="text" id="classname" name="classname" placeholder="Masukkan Nama Kelas" style="width: 80%">
        </div>
      </div>

    <div class="body">

    </div>

    <script
    src="http://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
    <script src="../js/beranda.js"></script>
    

</body>
</html>