<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <nav>
        <table width="100%" border="0">
            <tr>
                <td width = "4%">
                    <img src="../asset/navigasi.png" width = "20"  alt="">
                </td>
                <td width = 5%>
                    <img src="../asset/google.png" width = "90" alt="">
                </td>
                <td>
                    <h2>Classroom</h2>
                </td>
            </tr>
        </table>
        <hr>
    </nav>

    <section id="classlist">
        <table width = "100%" border="0">
            <tr>
                <article class="dark">
                    <td width = "25%">
                        <table>
                            <tr>
                                <td>
                                <h2>Makers V</h2>
                                <h4>Makers Institut</h4>
                                </td>
                                <td>
                                    <img src="../asset/pohon.jpg" width = "100" alt="">
                                </td>
                            </tr>
                            <tr>
                            </tr>
                            <tr>

                            </tr>
                        </table>
                    </td>
                </article>
                    <td width = "25%">
                    <table>
                            <tr>
                                <td>
                                <h2>Makers V</h2>
                                <h4>Makers Institut</h4>
                                </td>
                                <td>
                                    <img src="../asset/pohon.jpg" width = "100" alt="">
                                </td>
                            </tr>
                            <tr>
                            </tr>
                            <tr>

                            </tr>
                        </table>
                    </td>
                <td width = "25%"></td>
                <td width = "25%"></td>
            </tr>
        </table>

    </section>
    
</body>
</html>